body{
    background-color: #ddd;
}

body.sw{
    background-color: #ddd;
    font-family: serif;
}


header{
    text-align: center;
    background-color: #ef5350;
    min-height: 10dvh;
    
}

header.sw{
    text-align: center;
    background-color: #1c1e22;
    color: yellow;
    min-height: 10dvh;
    
}

header h1{
    margin: 2dvh;
}

.tresColumnas{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#shadow-root div p{
    color: #0f0;
}

#muestrario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}